* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body {
    font-family: 'DM sans', sans-serif;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0px;
}

.hero-image {
    width: 100%;
    line-height: 0;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.features_text {
    padding: 0px 28px 72px 28px;
    background: black;
    display: flex;
    flex-direction: column;
}

.rectangle {
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    left: 29px;
}

.features_text h1 {
    margin-top: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    color: #FFFFFF;
}

.features_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 16px;
}

/*features six card section*/
.cards_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 32px 91px 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 72px;
    height: 72px;
    align-self: center;
    margin-bottom: 48px;
}

.second_card_image_div {
    display: flex;
    flex-direction: column;
}

.second img {
    height: 35.69px;
    align-self: center;
}

.fourth img {
    width: 81px;
}

.sixth img {
    width: 91px;
}

.card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.card p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 55px;
}

.sixth p {
    margin-bottom: 0px;
}


/* features first part on tablet*/
@media screen and (min-width: 768px) {
    .features {
        flex-direction: row-reverse;
    }

    .rectangle {
        height: 128px;
        width: 6px;
        top: 35.3%;
        left: 0px;
    }

    .features_text {
        justify-content: center;
    }

    .features_text h1 {
        margin: 0px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
    }

    /*features six card section on tablet*/
    .cards_section {
        padding: 112px 40px 114px 39px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 13px;
        row-gap: 72px;
    }

    .second_card_image_div {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        justify-content: unset;
    }

    .card p {
        margin-bottom: 0px;
    }

}

/* features first part on desktop*/
@media screen and (min-width:1440px) {
    .features_text {
        padding: 173px 111px;
        width: 60%;
    }

    .features_text p {
        margin-top: 21px;
    }

    /*features six card section on desktop*/
    .cards_section {
        padding: 160px 165px;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 104px;
    }
}
