* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body {
    font-family: 'DM sans', sans-serif;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0px;
}

.hero-image {
    width: 100%;
    line-height: 0;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.features_text {
    padding: 0px 28px 72px 28px;
    background: black;
    display: flex;
    flex-direction: column;
}

.rectangle {
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    left: 29px;
}

.features_text h1 {
    margin-top: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    color: #FFFFFF;
}

.features_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 16px;
}

/*features six card section*/
.cards_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 32px 91px 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 72px;
    height: 72px;
    align-self: center;
    margin-bottom: 48px;
}

.second_card_image_div {
    display: flex;
    flex-direction: column;
}

.second img {
    height: 35.69px;
    align-self: center;
}

.fourth img {
    width: 81px;
}

.sixth img {
    width: 91px;
}

.card {
    width: 310px;
}

.card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.card p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 55px;
}

.sixth p {
    margin-bottom: 0px;
}

/*features background-div*/
.background-div {
    background-image: url(./assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
    position: relative;
}

.background-flex {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.background-div h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.background-div .rectangle {
    position: absolute;
    top: 0;
    left: 8.8%;
}

.arrow_button {
    display: flex;
    align-items: center;
}

.arrow_button p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.arrow_button img {
    filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(101deg) brightness(107%) contrast(106%);
}

.arrow_button button {
    background-color: transparent ;
    width: 43px;
    margin: 0px;
    cursor: pointer;
    margin-left: 16px;
}

.arrow_button p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color: #FFFFFF;
}


/* features first part on tablet*/
@media screen and (min-width: 768px) {
    .features {
        flex-direction: row-reverse;
    }

    .rectangle {
        height: 128px;
        width: 6px;
        top: 32%;
        left: 0px;
    }

    .features_text {
        justify-content: center;
    }

    .features_text h1 {
        margin: 0px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
    }

    /*features six card section on tablet*/
    .cards_section {
        padding: 112px 0px 114px 0px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 13px;
        row-gap: 72px;
    }

    .second_card_image_div {
        margin-top: 19px;
        margin-bottom: 19px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 339px;
    }

    .card {
        justify-content: unset;
    }

    .card p {
        margin-bottom: 0px;
    }

    /*features background div on tablet*/
    .background-div {
        min-height: 280px;
        flex-direction: row;
        position: relative;
        background-image: url(./assets/shared/tablet/bg-beta.jpg);
        display: flex;
        justify-content: center;
    }

    .background-flex {
        display: flex;
        flex-direction: row;
        width: 688px;
        justify-content: space-between;
    }

    .background-div h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    .background-div .rectangle {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 280px;
    }

    .background-div h1 {
        width: 58.1%;
    }
    
    .arrow_button {
        flex-direction: row;
    }
}

/* features first part on desktop*/
@media screen and (min-width:1440px) {
    .features_text {
        padding: 173px 111px;
        width: 60%;
    }

    .features_text p {
        margin-top: 21px;
    }

    /*features six card section on desktop*/
    .cards_section {
        padding: 160px 165px;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 104px;
    }

    .card {
        width: 350px;
    }

    /*features backgound div on desktop*/
    .background-div {
        background-image: url(./assets/shared/desktop/bg-beta.jpg);
        padding: 65px 0px;
    }

    .background-flex {
        width: 1110px;
    }

    .background-div h1 {
        width: 400px;
    }

    .arrow_button button {
        margin: 16px;
    }
}
