@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000000;
}
header {
    height: 72px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 26px 0px 24px;   
}
button {
    width: 310px;
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.5px;
    margin-bottom: 32px;
    border: none;
}
.navbar { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}

.nav-menu{
    position: absolute;
    padding-top: 32px;
    Left: 100%;
    top: 72px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100vw;
    text-align: center;
    /* transition: transform 0.3s ease-in-out; */
    transition: 0.5s;
}
.nav-menu.visible {
    left: 0px;
}
hr {
    width: 310px;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-bottom: 20px;
}
.hamburger {
    display: flex;
    align-items: center;  
}
.hamburger img[alt=close-navigation] {
    display: none;
}
.hamburger.visible .lines {
    display: none;
    transition: 0.3s
}
.hamburger.visible .close {
    display: block;
    transition: 0.3s
}

