@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
body {
    font-family: 'DM Sans', sans-serif;
}
html {
    overflow-x: hidden;
}

.intro-image, .beauti-image, .designed-image {
    line-height: 0;
}
.intro-image img, .beauti-image img, .designed-image img {
    width: 100%;
    height: auto;
    object-fit: fill;  
}
.intro-text, .beauti-text, .designed-text {
    display: flex;
    flex-direction: column;
    padding: 72px 24px 72px 33px;
    position: relative;
}
.intro {
    background-color: #000000;
    
}
.rectangle {
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    top: 0px;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    color: #FFFFFF;
    
}
p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 16px;
}
.text-arrow h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
}

.text-arrow {
    display: flex;
    gap: 18px;
    padding-top: 23px;
}
.beauti-text h1, .beauti-text p, .designed-text h1, .designed-text p, .beauti-text .text-arrow h3, .designed-text .text-arrow h3 {
    color: #000;
}
.beauti-text h1 {
    width: 250px;
}
@media (min-width: 768px) {
    
    .intro-image img, .beauti-image img, .designed-image img {
        /* width: unset; */
    }
    .intro, .designed-for {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .beautiful-stories {
        display: flex;
        justify-content: space-between;
    }
    .intro-text {
        padding: 173px 54px;
    }
    .beauti-text {
        padding: 136px 54px 135px 54px;
    }
    .designed-text {
        padding: 160px 54px 159px 54px;
    }
    .rectangle {
        position: absolute;
        width: 6px;
        height: 304px;
        background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
        top: 173px;
        left: 0px;
    }
    h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        width: 387px;
    }
    .beauti-text h1 {
        width: 300px;
    }
    p {
        margin-top: 21px;
        width: 387px;
    }
    .text-arrow {
        padding-top: 48px;
    }
}
@media (min-width: 1440px) {
    header {
        padding: 0px 165px;
    }
    button {
        margin-left: 227px;
    }
    .rectangle {
        top: 173px;
    }
    .intro-text {
        padding: 173px 111px 173px 112px;
    }
    .beauti-text {
        padding: 136px 111px 135px 112px;
    }
    .designed-text {
        padding: 160px 111px 159px 112px;
    }
    .text-arrow:hover {
        cursor: pointer;
    }
    .text-arrow:hover h3 {
        text-decoration: underline;
    }
}
/*stories section mobile*/
.stories-cards {
    display: grid;
    
}
.stories-cards section {
    position: relative;
}
picture {
    position: relative;
    
    
}
section picture::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
    z-index: 1;
  }

.stories-cards section img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}
.description {
    position: absolute;
    bottom: 40px;
    left: 33px;
    width: 80%;
    z-index: 3;
}
.description h2 {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.description p  {
    display: block;
    margin-top: 4px;
    font-size: 13px;
    line-height: 17px;
    opacity: 1;
    width: unset;
}
.description hr {
    background-color: #ffffff;
    margin: 16px 0px 20px 0px;
    width: 100%;
}
.description .text-arrow {
    padding: 0;
    justify-content: space-between;
    
}
.hover-rectangle {
    margin: 0;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    display: none;
}



/* Stories section for tablet*/
@media (min-width: 768px) {


.stories-cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.description {
    left: 11%;
    width: 78.75%;

}
.description hr {
    display: block;
}
} 


/* Stories section for desktop*/
@media (min-width: 1440px) {


    .stories-cards {
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .description {
        left: 11%;
    
    }
    .description hr {
        display: block;
    }
    section:hover {
        opacity: 1;
        transform: translateY(-30px);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        z-index: 2;
    }
    .stories-cards section:hover .hover-rectangle {
        display: block;
    }
    } 


/*features three card section: mobile*/
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 32px 25px 33px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 72px;
    height: 72px;
    align-self: center;
    margin-bottom: 48px;
}

.second_card_image_div {
    display: flex;
    flex-direction: column;
}

.second img {
    height: 35.69px;
    align-self: center;
}

.fourth img {
    width: 81px;
}

.sixth img {
    width: 91px;
}

.card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
    letter-spacing: normal;
}

.card p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 56px;
}
/*features six card section on tablet*/
@media (min-width:768px) {
    
.features {
    padding: 120px 155px 40px 156px;
}
.cards_section {
    padding: 112px 40px 114px 39px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    row-gap: 72px;
}
.card p {
    margin-bottom: 80px;
}
.second_card_image_div {
    
    margin-bottom: 18px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    justify-content: unset;
}
}

 /*features six card section on desktop*/
@media (min-width:1440px) {
 .features {
    flex-direction: row;
    justify-content: space-between;
 }
 .card p {
    width: 350px;
 }
 .second_card_image_div {
    margin-top: 18px;
 }

}