* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

body {
    font-family: 'DM sans', sans-serif;

}

.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0px;
    background-color: black;
}

.hero-image {
    width: 100%;
    line-height: 0;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.features_text {
    padding: 0px 28px 72px 28px;
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rectangle {
    position: absolute;
    width: 128px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    left: 29px;
}

.features_text h1 {
    margin-top: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    color: #FFFFFF;
}

.features_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 16px;
}


/*pricing section on mobile*/
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #000000;
}

#yearly {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.switch {
    display: inline-flex;
    margin: 0 10px;
  }
  .switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch input[type=checkbox]:checked + label {
    background: black;
  }
  .switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
    background: white;
  }
  .switch label {
    cursor: pointer;
    width: 64px;
    height: 32px;
    background: #DFDFDF;
    display: block;
    border-radius: 24px;
    position: relative;
  }
  .switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    background: black;
    border-radius: 16px;
    transition: 0.3s;
  }

  .three-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 22px 40px 21px;
    width: 318px;
  }

  .card h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 18px;
  }

  .card h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    color: #000000;
  }

  .card p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 40px;
  }

  .card button {
    width: 245px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: black;
  }

  .one {
    background: #F5F5F5;
    margin-bottom: 24px;
  }

  .two {
    background: black;
    position: relative;
    margin-bottom: 24px;
  }

  .three {
    background: #F5F5F5;
  }

  .rectangle-card {
    width: 318px;
    height: 6px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .two h1, .two h2, .two p {
    color: white;
  }

  .two button {
    background-color: white;
    color: black;
  }

  .card button:hover {
    background: #DFDFDF;
    cursor: pointer;
    color: black;
  }

  /*background div on mobile*/
  .background-div {
    background-image: url(./assets/shared/mobile/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
    position: relative;
}

.background-flex {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.background-div h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.background-div .rectangle {
    position: absolute;
    top: 0;
    left: 8.8%;
}

.arrow_button {
    display: flex;
    align-items: center;
}

.arrow_button p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.arrow_button img {
    filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(101deg) brightness(107%) contrast(106%);
}

.arrow_button button {
    background-color: transparent ;
    width: 43px;
    margin: 0px;
    cursor: pointer;
    margin-left: 16px;
}

.arrow_button p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color: #FFFFFF;
}


  
/*pricing features first part on tablet*/
@media screen and (min-width: 768px) {
    .features {
        flex-direction: row-reverse;
    }
    .hero-image {
      width: unset;
    }
    picture {
      width: 273px;
      display: block;
    }
    .rectangle {
        height: 128px;
        width: 6px;
        top: 32%;
        left: 0px;
    }

    .features_text {
        justify-content: center;
    }

    .features_text h1 {
        margin: 0px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
    }

    /*pricing section on tablet*/
    .payment {
        margin-top: 116px;
    }

    .card {
        width: 689px;
        padding: 42px 48px 40px 40px;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }

    .card button {
        position: absolute;
        left: 40px;
        bottom: 40px;
    }

    .plan {
        width: 270px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .plan p {
        text-align: unset;
        margin-bottom: 72px;
    }

    .per-month-div {
        display: flex;
        flex-direction: column;
        align-self: start;
    }

    .per-month-div p {
        align-self: flex-end;
        margin-right: 5px;
    }

    .rectangle-card {
        height: 272px;
        width: 6px;
        left: 0px;
        top: 0px;
    }

    /* background div on tablet*/
    .background-div {
        min-height: 280px;
        flex-direction: row;
        position: relative;
        background-image: url(./assets/shared/tablet/bg-beta.jpg);
        display: flex;
        justify-content: center;
    }

    .background-flex {
        display: flex;
        flex-direction: row;
        width: 688px;
        justify-content: space-between;
    }

    .background-div h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    .background-div .rectangle {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 280px;
    }

    .background-div h1 {
        width: 58.1%;
    }

    .arrow_button {
        flex-direction: row;
    }


}

/*pricing features first part on desktop*/
@media screen and (min-width:1440px){
    .features_text {
        padding: 173px 111px;
        width: 60%;
    }

    .features_text p {
        margin-top: 21px;
    }

    /*pricing section on desktop*/

    .three-card {
        flex-direction: row;
        width: 1110px;
        justify-content: space-between;
    }

    .card {
        width: 350px;
        flex-direction: column;
        margin: 0px;
        align-items: center;
    }

    .plan, .per-month-div {
        align-items: center;
        align-self: center;
    }

    .plan p {
        text-align: center;
    }

    .per-month-div p {
        align-self: center;
    }

    .card button {
        position: unset;
    }

    .two {
        padding-top: 88px;
        padding-bottom: 71px;
    }

    .rectangle-card {
        height: 6px;
        width: 350px;
        top: 0px;
        left: 0px;
    }

    /*features backgound div on desktop*/
    .background-div {
        background-image: url(./assets/shared/desktop/bg-beta.jpg);
        padding: 65px 0px;
    }

    .background-flex {
        width: 1110px;
    }

    .background-div h1 {
        width: 400px;
    }

    .arrow_button button {
        margin: 16px;
    }
  }


    /* <!-- Comparison table for mobile only --> */


      .tab-desk-table {
        display: none;
      }
      .mobile-table {
          border-collapse: collapse;
          margin: 42px auto 64px auto;
          width: 318px;
          
        }
      
        .comparison-table th {
          padding: 0px 23px 21px 23px;
        }
        .comparison-table td {
          padding: 22px;
        }
        th {
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 2px;
          color: #000000;
        }
  
        .caption {
          border-bottom: 1px solid #000;
          padding-bottom: 23px;
        }
        .plan {
          font-size: 10px;
          line-height: 13px;
          letter-spacing: 1.66667px;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.5;
          padding-bottom: 7px;
          width: calc(100%/3); 
  
          
        }
        .checkmark {
          border-bottom: 1px solid #ddd;
        }
        .checkmark td {
          padding-bottom: 22.5px;
        }
        
        .what {
          font-weight: 700;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 2px;
          color: #000000;
          text-align: center;
          text-align: start;
          padding: 22.5px 0px 15.5px 0px;
          
        }
      
  

/* Comparison table for tablet */
@media (min-width:768px) {
  .tab-desk-table {
    display: block;
  }
.mobile-table {
  display: none;
}
.compare {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    color: #000000;
    padding: 112px 0px 64px 0px;
    margin: auto;
    }
table {
    border-collapse: collapse;
    width: 689px;
    
    margin: auto;
    margin-bottom: 112px;
  }

  .comparison-table th {
    padding: 0px 23px 21px 23px;
  }
  .comparison-table td {
    padding: 22px;
  }
  th {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
  }
  td {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
  }
  .left-functions {
    text-align: start;
    display: inline;
  }
  .tb-features {
    border-bottom: 1px solid #000;
  }
  .what {
    border-bottom: 1px solid #ddd;
  }
}


/* Comparison table CSS for different subscription plans on desktop */
@media (min-width:1440px) {
  .mobile-table {
    display: none;
  }
table {
    /* border-collapse: collapse; */
    width: 731px;
    height: 550px;
    /* margin: auto; */
    margin-bottom: 160px;
  }

  .comparison-table th,
  .comparison-table td {
    padding: 21.75px;
  }
  

  .left-functions {
    text-align: start;
    display: inline;
  }
  .tb-features {
    border-bottom: 1px solid #000;
  }
  .what {
    border-bottom: 1px solid #ddd;
  }
  .compare {
    padding: 160px 0px 34px 0px;
    margin: auto;
  }
}