/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mobile Version*/

.storiesMainImg {
    display: flex;
    flex-direction: column;
}

.storiesMainSection {
    background-color: #000000;
}

.storiesMainSection h1, h2, p {
    font-family: 'DM Sans', sans-serif;
    color:white;
}

.storiesMainSection h2, h1 {
    text-transform: uppercase;
}

.storiesMainSection h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;    
}

.h2LastMonth {
    margin-top: 48px;
    margin-left: 29px;
    margin-right: 104px;
}

.storiesMainSection h1, p {
    margin-left: 29px;
}

.storiesMainSection h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 318px;
}

.dateAuthor p {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

.date {
    opacity: 0.75;
    margin-right: 9px;
}

.author {
    margin-left: 0;
}

.arrowImg h2, img {
    display: inline;
}

.storiesMainText {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 29px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.6;
}

.arrowImg {
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-bottom: 48px;
}

.arrowImg img {
    width: 42px;  
    height: 12px;
    margin-left: 16px;
}

.tabletMoonofAppalacia {
    display: none;
}

.desktopMoonofAppalacia {
    display: none;
}

.storiesHoverSunshine {
    display: none;
}

 /* stories 16 photoes for mobile  */

.photoes16 {
    position: absolute;
    margin-left: 41.67px;
}

.mobileStories16Photoes {
    width: 100%;
    filter: brightness(80%);
}

 .readStory {
    display: flex;
    align-items: center;
    width: 291.67px;
    margin-bottom: 40px;
} 
.readStory p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;  
    margin-left: 0; 
}

.readStory img {
    height: 12px;
    width: 42px;
    margin-left: 152px;
}

.photoes16Author, .photoes16Date {
    margin-left: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16.93px;
} 

.photoes16Date {
    margin-bottom: 4px;
}

.photoes16 h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.storiesRectangle {
    margin-top: 16px;
    margin-bottom: 20px;
}

.storiesPhotoes16 section {
    display: flex;
    align-items: flex-end;
}

.tabletStories16Photoes, .desctopStories16Photoes, .rectanglePhotoes16Hover {
    display: none;
}


/*Tablet Version*/

@media screen and (min-width: 768px) {
    .mobileMoonofAppalacia {
        display: none;
    }

    .tabletMoonofAppalacia {
        display: inline;
    }

    .storiesMainSection {
        position: absolute;
        background-color: transparent;
    }

    .storiesMainImg {
        justify-content: center;
    }
    
    .h2LastMonth {
        margin-top: 0;
        margin-left: 39px;
    }
    
    .storiesMainSection h1, p {
        margin-left: 39px;
    }
    
    .storiesMainSection h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        margin-top: 24px;
        width: 387px;
    }
    
    .storiesMainText {
        margin-right: 39px;
        width: 387px;
    }
    
    .arrowImg {
        margin-left: 41px;
        margin-bottom: 0;
    }

    .desktopMoonofAppalacia {
        display: none;
    }

    .storiesHoverSunshine {
        display: none;
    }

     /* stories 16 photoes for tablet  */

    .mobileStories16Photoes {
        display: none;
    }

    .tabletStories16Photoes {
        display: inline;
        width: 100%;
        filter: brightness(80%);
    }

    .storiesPhotoes16 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .photoes16 {
        margin-left: 42.67px;
    }

    .readStory {
        width: 299px;
    } 
   
}

/*Desctop Version*/

@media screen and (min-width: 1440px) {
    .desktopMoonofAppalacia {
        display: inline;
    }

    .tabletMoonofAppalacia, .mobileMoonofAppalacia {
        display: none;
    }

    .h2LastMonth {
        margin-left: 112px;
    }
    
    .storiesMainSection h1, p {
        margin-left: 112px;
    }
    
    .storiesMainText {
        margin-right: 112px;
    }
    
    .arrowImg {
        margin-left: 114px;
    }

    .arrowImg:hover {
        cursor: pointer;
    }

    .storiesHoverSunshine {
        position: absolute;
        display: inline;
        width: 50%;    
        opacity: 0;    
    }

    .storiesHoverSunshine:hover {
        position: absolute;
        display: inline;
        width: 50%; 
        opacity: 1;   
        cursor: pointer;  
    }


    /* stories 16 photoes for desctop  */

    .tabletStories16Photoes{
        display: none;
    }

    .desctopStories16Photoes {
        display: inline;
        width: 100%;
        filter: brightness(80%);
    }

    .storiesPhotoes16 {
        grid-template-columns: auto auto auto auto;
    }

    .photoes16 {
        margin-left: 40px;
    }  

    .readStory {
        width: 280px; 
    } 

    .photoes16 p, .photoes16 h2, .storiesRectangle {
        width: 280px;
    } 

    .readStory img {
        width: 41.86px;
        margin-left: 147px;
    }

    .storiesPhotoes16 section {
        bottom: 0;
        position: relative;
        transition: 0.2s;
    } 
    .rectanglePhotoes16Hover {
        position: absolute;
        width: 100%;
        display: none;    
    }

    .storiesPhotoes16 section:hover {
        bottom: 20px;
        cursor: pointer;
        position: relative;     
    }

    .storiesPhotoes16 section:hover .rectanglePhotoes16Hover{
        display: inline;
    }

}


